<%= render '/shared/page_title', title: @chef.chefname %>

<div class="row">

  <div class="col-sm-4 col-sm-offset-4 center">
    <%= gravatar_for @chef, size: 100 %>
    <hr/>
  </div>

</div>

<div class="row">

  <div class="col-sm-4 col-sm-offset-4 center">
    <h5>Recipes</h5>
    <%= will_paginate @recipes %>
  </div>

</div>


<% @recipes.each do |recipe| %>
    <div class="row">

      <div class="col-sm-8 well">
        <h4> <%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= recipe.summary %> </p>
        <p>
           <span class='quiet'> created: <%= time_ago_in_words(recipe.updated_at) %> ago,  </small>
          </span>

          <span class='quiet'> updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small>
          </span>
        </p>
        <div class="pull-right">
          <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= recipe.thumbs_up_total %>
          <% end %>
          &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_recipe_path(recipe, like: false), method: :post  do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= recipe.thumbs_down_total %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4 pull-right">
        <%= image_tag(recipe.picture.url, size: "150x150", class: "gravatar") if recipe.picture? %>
      </div>

    </div>
    <hr/>
<% end %>

<hr/>