<%= render 'shared/page_title', title: @recipe.name %> 

<div class="row">
  <div class="col-sm-4 col-md-4 pull-right center">
    <%= gravatar_for @recipe.chef, size: 100 %>
    <p>
      Brought you by <%= @recipe.chef.chefname %>
    </p>
  </div>

  <div class="col-sm-8 col-md-8">
      <%= link_to "Edit Recipe",edit_recipe_path,class: "btn btn-small btn-success pull-right" %>
      <h4><%= @recipe.summary %></h4>
      <div class="well">
        <p> <strong> Steps: </strong></p>
        <%= simple_format(@recipe.description) %> 
      </div>
  </div>
</div>

<%= link_to "Return to the Recipes List",recipes_path, class: "btn btn-warning btn-small"%>
<hr/>